.button-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 16px; 
    justify-items: left;
  }
  
  .custom-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px; 
    text-align: center;
  }
  
  .icon-button {
    width: 40px; 
    height: 40px;
    margin-bottom: 8px; 
  }
  