<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
 
<ion-title>Gestionador de Stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="intro-container">
    <h1>Bienvenido a Stock de Bolsillo</h1>
    <p>Gestiona fácilmente tus pertenencias, desde llaves hasta ropa, todo en un solo lugar.</p>
    <ion-button expand="block" (click)="startManaging()">
      Comenzar
    </ion-button>
  </div>
</ion-content>
